<div class="container">
  <div class="row">
    <div class="span12">
      <img src="/images/logo_transparent.png" alt="Trail Safe" title="Trail Safe" class="logo-big center">
    </div>
  </div>
</div>